.converter-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        margin-bottom: 20px;
    }

    select, input {
        height: 30px;
    }

    label {
        margin: 10px;
    }
}

.output-container {
    color: #0d8efd;
    font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}